@page "/"

<PageTitle>About me</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Welcome!</MudText>
<MudText Class="mb-10">
    Welcome to my personal website. I am Frankie, Ka-yiu HUI, currently a research assistance at the Department of Mechanical and Aerospace Engineering at the Hong Kong University of Science and Technology.
    <br> <br>
    I am intersted in different discipline of engineering including Aerospace Engineering, Computer science, Robotics, and more. In addition, I also enjoy photography, playing guitar, flying virtual jet in flight simulatior.
    <br> <br>
    You can find my educational and professional background below in this page. Pleaes also feel free to check out the projects that I have worked on in the Projects page - they were quite interesting to work on. 
    I will also write some blogs in the Blog page to bookmark some knowledge and reference that I have learned.
    <br> <br>
    Thank you for your time and I wish you to have a great day!
</MudText>

<MudPaper Class="pa-5 mb-10" Outlined="true">
    <MudText Typo="Typo.h5" GutterBottom="true">Education</MudText>
    <MudCard Elevation="0">
        <MudCardContent>
            <MudText Typo="Typo.h6">MSc Aerospace Computationl Engineering (2022-2023)</MudText>
            <MudText Typo="Typo.subtitle1">Cranfield University, UK</MudText>
            <MudText Typo="Typo.body2">
                <b>Modules:</b> 
                C++ Programming, Computational Methods, Numerical Modelling for Compressible Flows, Numerical Modelling for Incompressible Flows,  
                Analysis and Visualisation of Big Data System and High Performance Computing, Modelling Approaches for Aerospace Application, 
                Computational Engineering Structures, Validation and Verification for Aerospace Applications
            </MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Elevation="0">
        <MudCardContent>
            <MudText Typo="Typo.h6">BEng Aerospace Engineering, minor in IT, Robotics (2016-2021)</MudText>
            <MudText Typo="Typo.subtitle1">The Hong Kong University of Science and Technology, HK (#27 QS World University Ranking at 2021)</MudText>
            <MudText Typo="Typo.subtitle1">Graduated with a 2:1 degree with GPA of 3.208/4 and awarded Dean's list for 2021 Spring semester.</MudText>
            <MudText Typo="Typo.body2"> 
                <b> Modules:</b> 
                Aerospace Engineering (Nanosatellite, UAV, Composite Material, Aerodynamic, Jet Propulsion, Aircraft Structure, Aircraft Performance and Controls, Solid and Fluid Mechanics),
                Computer Science (Software Engineering, Fundamentals of A.I., Image Processing, OOP and data structure),
                Robotics (Embedded system, Control system)
            </MudText>
            <MudText Typo="Typo.body2"><b>Graduation thesis: </b> 
                <MudLink Href="#" Typo="Typo.body2">Bio-inspired glider design</MudLink>
            </MudText>
        </MudCardContent>
    </MudCard>
</MudPaper>

<MudPaper Class="pa-5 mb-10" Outlined="true">
    <MudText Typo="Typo.h5" GutterBottom="true">Experience</MudText>

    <MudTimeline TimelinePosition="TimelinePosition.Start">
        <MudTimelineItem  Color="Color.Tertiary" Elevation="25">
            <ItemContent>
                <MudCard Elevation="25">
                    <MudCardContent>
                        <MudText Typo="Typo.overline"> Aug 2021 - Current </MudText>
                        <MudText Typo="Typo.h6"> Research Assistant </MudText>
                        <MudText Typo="Typo.subtitle2" > Department of Mechanical and Aerospace Engineering at HKUST</MudText>
                        <MudText Typo="Typo.body2"> Working on air transportation management research for the Hong Kong International Airport to help air traffic controllers make a more informed decision to mitigate arrival delay with weather awareness.</MudText>
                        <MudText Typo="Typo.body2"> Responsibilities:
                            <li>Labelling data and designing algorithms for trajectory and flight phase identification.</li>
                            <li>Building an air traffic simulation platform to model and evaluate different ATM algorithms.</li>
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </ItemContent>
        </MudTimelineItem>

        <MudTimelineItem  Color="Color.Tertiary" Elevation="25">
            <ItemContent>
                <MudCard Elevation="25">
                    <MudCardContent>
                        <MudText Typo="Typo.overline"> Sep 2020 - Jun 2021 </MudText>
                        <MudText Typo="Typo.h6"> Final Year Design Project </MudText>
                        <MudText Typo="Typo.subtitle2" > HKUST</MudText>
                        <MudText Typo="Typo.body2">Worked on the “Novel bio-inspired glider design” project in a team of 5 to analyze and apply features of biological creatures for glider design. Awarded “A”.</MudText>
                        <MudText Typo="Typo.body2">Responsibilities:
                            <li>Conduct comprehensive literature research of bio-inspired wing feature designs.</li>
                            <li>Conduct computational fluid simulation (CFD) of the designs with OpenFoam.</li>
                            <li>Design and conduct wind tunnel experiments.</li>
                            <li>Preparing to publish the findings in a journal.</li>
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </ItemContent>
        </MudTimelineItem>

        <MudTimelineItem  Color="Color.Tertiary" Elevation="25">
            <ItemContent>
                <MudCard Elevation="25">
                    <MudCardContent>
                        <MudText Typo="Typo.overline"> Jun 2019 - Jun 2020 </MudText>
                        <MudText Typo="Typo.h6"> Information Technology Internship </MudText>
                        <MudText Typo="Typo.subtitle2" > China Light and Power Co Ltd </MudText>
                        <MudText Typo="Typo.body2">Worked on cloud transformation projects in the Infrastructure team and Strategy and Architecture team.</MudText>
                        <MudText Typo="Typo.body2">Responsibilities:
                            <li>Upgrade Active Directory Federation Services of the IT infrastructure.</li>
                            <li>Assist in cloud migration.</li>
                            <li>Review and propose an improvement plan for existing systems.</li>
                            <li>Implement workflow automation.</li>
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </ItemContent>
        </MudTimelineItem>

        <MudTimelineItem  Color="Color.Tertiary" Elevation="25">
            <ItemContent>
                <MudCard Elevation="25">
                    <MudCardContent>
                        <MudText Typo="Typo.overline"> Feb 2019 - May 2020 </MudText>
                        <MudText Typo="Typo.h6"> Embedded system course project </MudText>
                        <MudText Typo="Typo.subtitle2" > HKUST ELEC3300 </MudText>
                        <MudText Typo="Typo.body2">Designed and programmed an amphibious (“Land-Water-Air”) quadcopter with an STM32 microcontroller. Awarded “A+”.</MudText>
                        <MudText Typo="Typo.body2">Responsibilities:
                            <li>Design and build a quadcopter that can fly in the air, drive on the road, and float on the water.</li>
                            <li>Designing and writing sensors and actuators such as IMU, GPS, servos, brushless motors.</li>
                            <li>Program the control software from scratch using STM32.</li>
                            <li>Implement a PID flight controller.</li>
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </ItemContent>
        </MudTimelineItem>


        <MudTimelineItem  Color="Color.Tertiary" Elevation="25">
            <ItemContent>
                <MudCard Elevation="25">
                    <MudCardContent>
                        <MudText Typo="Typo.overline"> Jan 2019 - Jan 2020 </MudText>
                        <MudText Typo="Typo.h6"> Mechanical Engineer Internship </MudText>
                        <MudText Typo="Typo.subtitle2" > Blue Sky Robotics </MudText>
                        <MudText Typo="Typo.body2">Worked on a robotics EV charging solution project.</MudText>
                        <MudText Typo="Typo.body2">Responsibilities:
                            <li>Research different robot arms and base ideas for the company.</li>
                            <li>Design, build, program, and test prototypes for the company.</li>
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </ItemContent>
        </MudTimelineItem>

        <MudTimelineItem  Color="Color.Tertiary" Elevation="25">
            <ItemContent>
                <MudCard Elevation="25">
                    <MudCardContent>
                        <MudText Typo="Typo.overline"> Sep 2016 - Sep 2018 </MudText>
                        <MudText Typo="Typo.h6"> Mechanical Engineer </MudText>
                        <MudText Typo="Typo.subtitle2" > HKUST Robotics Team </MudText>
                        <MudText Typo="Typo.body2">Participated in the Asia-pacific robotics competition: ABU Robocon 2017 and 2018. Won Champion in the local contest 2017, Best Design Award, and Mabuchi Motor Award in the international contest hosted in Japan 2017 and Champion in local contest 2018.</MudText>
                        <MudText Typo="Typo.body2">Responsibilities:
                            <li>Designing mechanisms (CAD drawings) and building robots.</li>
                            <li>Communicating with manufacturers in the mainland</li>
                            <li>Communicating with hardware and software members from different countries.</li>
                            <li>Leading the team as one of the senior members in 2018.</li>
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </ItemContent>
        </MudTimelineItem>
    </MudTimeline>
</MudPaper>

<MudPaper Class="pa-5 mb-10" Outlined="true">
    <MudText Typo="Typo.h5" GutterBottom="true">Skills</MudText>
    <MudText Typo="Typo.h6">Engineering</MudText>
    <MudText Typo="Typo.body2"> 
        <li>Proficient in SolidWorks</li>
        <li>Experience in CFD (OpenFoam) and ANSYS analysis</li>
        <li> Experience in operating machinery, hand tools, 3D printers, and Laser Cutter</li>
    </MudText>
    <MudText Typo="Typo.h6">Cpmputer Science</MudText>
    <MudText Typo="Typo.body2"> 
        <li> Experience in C, C++, Matlab, Bash, Python, Java, React.js</li>
        <li> Experience in High-Performance Cluster (HPC) and Linux</li>
        <li> Experience in GitHub</li>
        <li> Embedded system programming (STM32)</li>
        <li> Microsoft Azure Fundamental AZ-900 certificate (Cloud infrastructure) </li>
    </MudText>
    <MudText Typo="Typo.h6">Others</MudText>
    <MudText Typo="Typo.body2"> 
        <li>  Proficient in office software and adobe creative software (premiere pro) </li>
        <li> Latex</li>
    </MudText>
</MudPaper>

<MudPaper Class="pa-5 mb-10" Outlined="true">
    <MudText Typo="Typo.h5" GutterBottom="true">Certificates</MudText>
    <MudText Typo="Typo.body2">Microsoft Certified: Azure Fundamentals</MudText>
</MudPaper>