@page "/projects"

<PageTitle>Projects</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Projects</MudText>
<MudText> I am interested in different engineering disipline including Aerospace, Mechanical, Computer Science, and Robotics. In the past years, I have worked on different projects  </MudText>


<MudPaper Class="pa-5 mt-10" Elevation="0" Outlined="true">
    <MudText Typo="Typo.h4"> Water-Land-Air (WLA) Drone </MudText>
    <MudText>  </MudText>
    <MudImage Src="images/WLA/WLA.png" Fluid="true"/>
    <div style="padding:50% 0 0 0;position:relative;">
        <iframe src="https://player.vimeo.com/video/724171491?h=0477e36163&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="WLA-Demo.mp4"></iframe>
    </div>
</MudPaper>


@code {
}
